@import '../../styles/var.scss';

.container
{
    align-self: center;
    width: 80%;
    margin-left: 12%;
    margin-top: 150px;
    border: solid blue 2px;
    display: grid;
    grid-gap: 50px 30px;
    @media screen and (max-width:500px) {
        margin: 100px 10vw;
    }
}

.container.home-cont
{
    grid-template-areas:
    "new-assignment new-assignment reminder"
    "best-student best-student best-student";
    @media screen and (max-width: 500px){
        grid-template-areas:
        "new-assignment"
        "reminder"
        "best-student";
    }
}